In [13]:
import datetime
import pandas as pd
import datetime as dt

In [17]:
NomActeur = pd.read_csv(r"C:\Users\anton\Desktop\Projet 2\Base de donnée\name.basics.tsv",na_values="\\N", sep="\t", low_memory=True)

In [11]:
NomActeur

,nconst,primaryName,birthYear,deathYear,primaryProfession,knownForTitles
0,nm0000001,Fred Astaire,1899.0,1987.0,"actor,miscellaneous,producer","tt0072308,tt0050419,tt0027125,tt0025164"
1,nm0000002,Lauren Bacall,1924.0,2014.0,"actress,miscellaneous,soundtrack","tt0037382,tt0075213,tt0038355,tt0117057"
2,nm0000003,Brigitte Bardot,1934.0,2025.0,"actress,music_department,producer","tt0057345,tt0049189,tt0056404,tt0054452"
3,nm0000004,John Belushi,1949.0,1982.0,"actor,writer,music_department","tt0072562,tt0077975,tt0080455,tt0078723"
4,nm0000005,Ingmar Bergman,1918.0,2007.0,"writer,director,actor","tt0050986,tt0069467,tt0050976,tt0083922"
...,...,...,...,...,...,...
15063385,nm9993714,Romeo del Rosario,NaN,NaN,"animation_department,art_department","tt11657662,tt14069590,tt2455546"
15063386,nm9993716,Essias Loberg,NaN,NaN,NaN,NaN
15063387,nm9993717,Harikrishnan Rajan,NaN,NaN,cinematographer,tt8736744
15063388,nm9993718,Aayush Nair,NaN,NaN,cinematographer,tt8736744
15063389,nm9993719,Andre Hill,NaN,NaN,NaN,NaN

In [18]:
NomActeur = NomActeur.loc[NomActeur["category"].str.contains("director|actress|actor")]

NomActeur["deathYear"] = pd.to_datetime(NomActeur["deathYear"], errors="coerce", format="%Y")

KeyError: 'category'

In [16]:
NomActeur.info()
NomActeur

<class 'pandas.DataFrame'>
Index: 6477960 entries, 0 to 15063380
Data columns (total 6 columns):
 #   Column             Dtype
---  ------             -----
 0   nconst             str
 1   primaryName        str
 2   birthYear          float64
 3   deathYear          datetime64[us]
 4   primaryProfession  str
 5   knownForTitles     str
dtypes: datetime64[us](1), float64(1), str(4)
memory usage: 346.0 MB

,nconst,primaryName,birthYear,deathYear,primaryProfession,knownForTitles
0,nm0000001,Fred Astaire,1899.0,1987-01-01,"actor,miscellaneous,producer","tt0072308,tt0050419,tt0027125,tt0025164"
1,nm0000002,Lauren Bacall,1924.0,2014-01-01,"actress,miscellaneous,soundtrack","tt0037382,tt0075213,tt0038355,tt0117057"
2,nm0000003,Brigitte Bardot,1934.0,2025-01-01,"actress,music_department,producer","tt0057345,tt0049189,tt0056404,tt0054452"
3,nm0000004,John Belushi,1949.0,1982-01-01,"actor,writer,music_department","tt0072562,tt0077975,tt0080455,tt0078723"
4,nm0000005,Ingmar Bergman,1918.0,2007-01-01,"writer,director,actor","tt0050986,tt0069467,tt0050976,tt0083922"
...,...,...,...,...,...,...
15063371,nm9993700,Sexy Angel,NaN,NaT,actress,tt7523066
15063372,nm9993701,Sanjai Kuriakose,NaN,NaT,actor,tt8736744
15063374,nm9993703,James Craigmyle,NaN,NaT,actor,"tt11212278,tt6914160,tt6225166,tt10627062"
15063379,nm9993708,Eli Bevins,NaN,NaT,"producer,director,writer","tt36103776,tt11702702,tt14508814,tt36042179"
15063380,nm9993709,Lu Bevins,NaN,NaT,"producer,writer,director","tt17717854,tt11772904,tt11772812,tt11697102"